/* Fonts */
@font-face {
  font-family: 'ProximaNova_regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors*/
/*Basic settings */
html {
  font-size: 10px;
  width: 100%;

}
body {
  font-family: 'ProximaNova_regular', sans-serif;
  width: 100%;
  margin: 0;
  overflow-x: hidden !important;
}
.button {
  font-family: 'ProximaNova_regular', sans-serif;
  font-size: 1.2rem;
  padding: 1rem 3rem;
  border-radius: 8px;
  border: none;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #d99a03;
}
a:hover {
  text-decoration: none;
  color: #fcb303;
}
button:focus,
a:focus,
input:focus {
  outline: none;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
  text-align: center;
}
/* Main */
.main {
  padding: 3rem;
  background: #ffffff url(../img/main-img.jpg) center center no-repeat;
  background-size: cover;
  background-width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.main-content {
  margin-top: 7rem;
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 4rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 1.45;
  color: #ffffff;
}
.main-subtitle {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  color: #ffffff;
}
.main span {
  display: inline-block;
  padding: 2rem 5rem;
  background-color: #46b814;
  font-size: 1.8rem;
  color: #ffffff;
  text-align: center;
}
.main span strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
.main-trigger {
  display: block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  margin-top: 3rem;
  color: #ffffff;
}
.main-form {
  display: block;
  padding: 4rem 4rem;
  background-color: #ffffff;
  text-align: center;
  border-radius: 1rem;
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form-input {
  display: block;
  border: 1px solid #dddddd;
  width: 100%;
  padding: 1.5rem;
  margin: 2rem 0rem;
  font-size: 1.2rem;
}
.main-form label {
  background-color: #ffffff;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 1.3rem;
}
.main-form-button {
  display: block;
  height: 5.5rem;
  width: 100%;
  font-size: 1.3rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
  font-size: 1.2rem;
}
.logo-img {
  height: 5rem;
}
.ph-num {
  padding: 0px 0px;
  text-align: center;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #ffffff;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
}
/* Преимущества */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.features-block p {
  display: inline-block;
  width: 90%;
  font-size: 1.6rem;
}
.features-img {
  height: 13rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
  height: 10rem;
  text-align: center;
}
.slick-active {
  outline: none;
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .logo-img {
    height: 4rem;
  }
  .phone-link {
    font-size: 1.6rem;
  }
  .header-btn {
    width: 100%;
    font-size: 1rem;
  }
  .main-content {
    margin-top: 3rem;
  }
  .main-title {
    text-align: center;
    margin-bottom: 3rem;
  }
}
@media (max-width: 767px) {
  .logo-img {
    height: 7rem;
  }
  .phone-link {
    font-size: 2.1rem;
  }
  .header-btn {
    width: auto;
    font-size: 1.5rem;
  }
  .main-title h1 {
    font-size: 2.5rem;
  }
  .main-subtitle {
    font-size: 1.8rem;
  }
}
@media (max-width: 400px) {
  min-width: 120%;
}
